# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# Generated datafiles
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Files created by vignettes
.Rapp.history # Session Data files
*_cache/
.Rhistory # History files
inst/doc
*.lyx~
..Rcheck/
/*.csv
/*.log
/*.pdf
/*.RDa
/*.trees
/*.xml
/*.xml.state
tests/testthat/*.csv
tests/testthat/*.log
tests/testthat/*.pdf
tests/testthat/*.RDa
tests/testthat/*.trees
tests/testthat/*.xml
tests/testthat/*.xml.state
vignettes/*.csv
vignettes/*.log
vignettes/*.pdf
vignettes/*.RDa
vignettes/*.trees
vignettes/*.xml
vignettes/*.xml.state
figure/
scripts/*.RDa
scripts/*.log
scripts/*.csv
scripts/*.pdf
scripts/*.out
scripts/*.xml
R/*.html
mytmp.txt
scripts/*.png
scripts/LICENSE
scripts/README.md
scripts/*.odp
scripts/*.trees
scripts/*.xml.state
scripts/*.xml.state.new
doc/*.eps
doc/*.tex
.nfs*
