# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# Generated datafiles
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

# Files created by vignettes
/toy_example_*
/Newick*
vignettes/add_posterior_demo_*
vignettes/toy_example_*
vignettes/research_demo_cache/
inst/doc
vignettes/femke.csv
femke.csv
# History files.Rhistory
.Rapp.history# Session Data files
convert_alignment_to_beast_posterior_*
vignettes/collected_gammas_posterior.csv
vignettes/collected_nltts_posterior.csv
vignettes/tryCatch.*
vignettes/worked_out_example_*
tests/testthat/test-add_posteriors_*
..Rcheck/
collected_gammas_posterior.csv
*_cache/
tests/testthat/Rplots.pdf
tests/testthat/article_*.RDa
test-alignment_to_beast_posterior.log
test-alignment_to_beast_posterior.trees
test-alignment_to_beast_posterior.xml
test-alignment_to_beast_posterior.xml.state
*.lyx~
test-add_alignment.RDa
test-add_posteriors_*.RDa
tests/testthat/test-extract_posteriors_*
tests/testthat/test-do_simulation.RDa
tests/testthat/test-*.RDa
tests/testthat/test-*.csv
vignettes/*.csv
collect_files_n_taxa.csv
